.productList {
  width: 1000px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0, .3);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 30px 20px;
  }

  &__search {
    label {
      display: flex;
      align-items: center;
    }

    span {
      margin-right: 10px;
    }

    input {
      height: 32px;
      border-radius: 4px;
      padding: 0 10px;
      border: 1px solid #999;
      width: 200px;

      &:focus {
        outline: none;
        border-color: green;
      }
    }
  }

  &__type {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-right: 10px;
    }

    & > div {
      height: 32px;
      display: flex;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #999;

       div {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e9e9e9;
        cursor: pointer;
        color: #999;
        
        &:hover {
          background: #c9c9c9;
          color: #444;
        }
        
        &:not(:last-child) {
          border-right: 1px solid #999;
        }
      }
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-right: 10px;
    }

    & > div {
      height: 32px;
      display: flex;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #999;

       div {
        width: 140px;
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        background: #e9e9e9;
        cursor: pointer;
        color: #999;
        
        &:hover {
          background: #c9c9c9;
          color: #444;
        }
        
        &:not(:last-child) {
          border-right: 1px solid #999;
        }
      }

      svg {
        height: 14px;
        width: 14px;
        fill: #999;
      }
    }
  }

  &__container {
    padding: 30px 80px;
    flex-grow: 1;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #666;
    }

    &_tile {
      display: grid;
      overflow-y: auto;
      column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }

    &_list {
      padding: 30px 20px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }
  }

  &__item {

    p {
      font-size: 18px;
      font-weight: 500;
    }

    &_tile {
      padding: 20px;
      box-shadow: 1px 1px 5px 0 rgba(0,0,0, .3);
      border: 1px solid rgba(0,0,0, .3);
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 20px;
    
      img {
        width: 100%;
        height: 300px;
        object-fit: contain;
        object-position: center;
      }
  
      &:hover {
        box-shadow: 1px 1px 15px 0 rgba(0,0,0, .3);
      }
    }

    &_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 80px;
      box-shadow: 1px 1px 5px 0 rgba(0,0,0, .3);
      border: 1px solid rgba(0,0,0, .3);
      border-radius: 4px;
      cursor: pointer;
      
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      img {
        height: 100px;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__pagination {
    padding: 30px 20px 20px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      width: 30px;
      height: 30px;
      font-size: 12px;
      text-decoration: none;
      color: #000;
      border-radius: 4px;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eee;
      cursor: pointer;
      margin: 5px;
      
      &:hover {
        background: #ccc;
      }

      &:last-of-type {
        margin-right: auto;
      }
    }
  }
}